h1{
    color:rgb(0, 0, 0);
    font-size: 65px;
    font-family: Copperplate, "Copperplate Gothic Light";
    text-align: center;
    background-image: url("tinyarchive/media/photographs/m.jpeg");
    margin-top:0in;
    margin-left: 0in;
    margin-bottom: 0in;
    margin-right: 0in;
    
}
.menu ul {
    font-family: Copperplate, "Copperplate Gothic Light";
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #354a05;
    font-size: 24px;
  }
  
  .menu li {
    float: left;
  }
  /* cite w3schools for menu bar */
  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding:  14px;
    text-decoration: none;
  }
  
  .menu li a:hover {
    background-color: #111;
  }
  img{
    margin-left: 2.5in;
    margin-top: 1in;
    margin-right: 3.5in;
    }
  section {
    text-align: left;
    font-family:'Times New Roman', Times, serif;
    font-size: 25px;
  }
  h2{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
  }
  .parent {
    display: flex;
}

.parent > div {
    margin-right: -550px; 
}

h3{
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 35px;
}
p{
font-size: 12px;
color:gray;
text-align: center;
}
.logo{
  margin-left: 5.8in;
}
.page_title{
  font-size: 65px;
  text-align: center;
  font-family: Copperplate, "Copperplate Gothic Light";
  font-style: normal;
}
.breadcrumb ul {
  font-family: Copperplate, "Copperplate Gothic Light";
  font-size: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #354a05;
}

.breadcrumb li {
  float: left;
}

.breadcrumb li a {
  display: block;
  color: white;
  text-align: center;
  padding:  14px;
  text-decoration: none;
}

.breadcrumb li a:hover {
  background-color: #111;
}
.info li{
font-size: 25px;
}
.info section{
  text-align: left;
}
.info p{
  text-align: left;
  font-size: 25px;
  color: #111;
  font-family: Georgia, 'Times New Roman', Times, serifr;
}
.info content {
  display: flex;
}

.exhibit_item section{
  text-align: left;
}
.exhibit {
  font-size: 35px;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content th{
  font-size: 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content td{
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}
.content image{
  height: 100;
  width: 100;
}
.us section{
  font-size: 35px;
  font-family: 'Arial';
  font-weight: bold;
  text-align: left;
  margin-top: 1in;
}
.us p{
  font-size: 18px;
  color: #111;
  text-align: left;
}
.us body{
  font-size: 55px;
  color: #111;
  text-align: left;
}
.exhibit_text{
  font-size: 22px;
}
