{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="page_title">
    Our Team 
</div>
<div class="menu">
<ul>
    <li><a href="/ ">Home</a> </li>
</ul>
</div>
<div class="us">
    <section>
        Camilla Vasquez
    </section>
    <body>
        HTML/CSS Developer
    </body>
    <p>
        Camilla is a current fourth-year undergraduate at UC Berkeley studying Architecture. Camilla worked on the styles of our website, and helped adjust 
        the fonts to create a seamless experience for the user. 
    </p>
    <section>
        Beatrice Ongawan
    </section>
    <body>
        Archive Data Collection/Content
    </body>
    <p>
        Beatrice is a current fourth-year undergraduate at UC Berkeley studying Chemical Engineering with a minor in Data Science. Beatrice collected the data for our archive, and 
        helped write the content seen under the archive and exhibits portions of the site.  
    </p>
    <section>
        Janmesh Kalra
    </section>
    <body>
        HTML/CSS Developer  & Django Database Schema
    </body>
    <p>
        Janmesh is a current fourth-year undergraduate at UC Berkeley studying Data Science and Math. 
        He was in charge of embedding the 
        photographs into a database schema and presenting it on our front-end for users to see. 
    </p>
    </div>


{% endblock %}